
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    width: 100vw;
    height: 100vh;
}


body{
    display: grid;
    grid-template-areas: 
    'header' 'header' 'header'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    'main' 'main' 'main'
    ;

    height: 100%;
    width: 100%;    

    font-family: 'Poppins', sans-serif;

    background-color: black;
    background-image: url(../imagens/background-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: underline;
}

